.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	left: 0;
	width: 230px;
	height: -webkit-fill-available;
	background-color: white;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
	z-index: 1000;

	box-shadow: 4px 0 12px rgba(0, 0, 0, 0.15); /* <-- Тень */
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}

.sidebar.open {
	transform: translateX(0);
}

.close-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	background: none;
	border: none;
	font-size: 28px;
	cursor: pointer;
	z-index: 1001;
}

.sidebar nav {
	margin-top: 60px;
}

.icon {
	width: 18px;
	height: 18px;
	margin-right: 10px;
}

.close-btn svg {
	width: 24px;
	height: 24px;
}
.sidebar nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar nav li {
	display: flex;
	align-items: center;
	margin: 10px 0;
	font-weight: bold;
	cursor: pointer;
	color: #000;
	transition: color 0.2s ease;
}

.sidebar nav li img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: 50px;
}

.sidebar nav a {
	text-decoration: none;
	color: inherit;
	display: flex;
	align-items: center;
}

.sidebar nav li.active {
	color: red;
}

.sidebar footer ul {
	list-style-type: none;
	margin-left: 50px;
	margin-top: 220px;
	font-size: 0.9rem;
	font-weight: 600;
}

.sidebar footer li {
	margin-top: 15px;
}

.sidebar footer a {
	text-decoration: none;
	color: #0c0358;
	opacity: 80%;
}
.burger {
	display: none;
	font-size: 2rem;
	padding: 1rem;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.sidebar.desktop {
	transform: translateX(0) !important;
	position: relative;
	box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
	.sidebar {
		/* transform: translateX(0);
		position: relative; */
		position: fixed;
		top: 0;
		left: 0;
		width: 240px;
		height: 100vh;
		background: white;
		transform: translateX(-100%);
		transition: transform 0.3s ease;
		z-index: 1000;
		box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
	}

	.sidebar.open {
		transform: translateX(0);
	}

	.sidebar ul li {
		padding: 0.8rem 0;
	}
	.close-btn {
		position: absolute;
		top: 1rem;
		right: 1rem;
		background: none;
		border: none;
		cursor: pointer;
	}

  	.burger {
		display: block;
	}

}
